html, body {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkgrey;
}


/* Стили для кнопки авторизации */
button.auth {
    margin-right: 1px;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Стиль кнопки авторизации при наведении */
button.auth:hover {
    background-color: #45a049;
}

/* Стили для контейнера */
.container {
    text-align: center;
    font-family: Verdana, serif;
}

/* Стили для текстовых полей */
.reg input[type="password"],
.reg input[type="text"] {
    font-family: Verdana, serif;
    width: 40%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
}

.alert {
    /*margin-right: -440px;*/
    padding: 12px 20px;
    border: none;
    border-radius: 5px;

}