
.header {
    background-color: #f1f1f1;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 9px;
}

/*стили для лого php*/
.logo {
    margin: 0;
    font-size: 50px;
    font-family: Verdana, serif;
}

/* стили для блоков со статьями */
.article {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    font-family: Verdana, serif;
}

/*стили для текста внутри блока*/
h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-family: Verdana, serif;
}

/* поле поиска */
.search-form {
    display: flex;
    margin-right: -250px;
    margin-top: 20px;
}

.search-input {
    margin-left: 20px;
    flex: 1;
    padding: 8px 10px;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
}

.search-button {
    margin-left: 10px;
    padding: 8px 20px;
    border: 0;
    border-radius: 5px;
    background-color: #1c87c9;
    color: #ffffff;
    font-size: 16px;
}

/* кнопки боковые регистрации и авторизации*/
.top-right {
    position: absolute;
    top: 10px;
    right: 10px;
    margin-top: 38px;
    font-family: Verdana, serif;
}

.top-right button {
    border-radius: 9px;
    font-size: large;
    margin-left: 10px;
    padding: 10px 15px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    color: #333;
}

.top-right button:hover {
    background-color: #b2d8f7;
}

.error {
    display: none;
}
